<section class="card">
  <section class="bg-gray-400 w-full mb-4">
    <h3>{{card_title}}</h3>
  </section>
  <p class="p-4">{{card_text}}</p>
  <p>
    <a class="p-4 border-red-300 bg-red-300" href="{{card_uri}}">Detalles</a>
  </p>
</section>
